appendices/Project Analysis Workflow(1).json
{
  "name": "Project Analysis Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "39b20ee6-45cb-411e-857a-2e039bfb7e0b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        192
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "projectA",
              "value": "= يشهد العالم اليوم تحولًا جذريًا في كيفية إنتاج المعرفة وتداولها نتيجةً للتطور السريع في تقنيات المعلومات والاتصالات، حيث أصبحت البيانات والمحتويات الرقمية تشكّل العنصر الأساس في بناء الاقتصاد المعرفي والمجتمعات الأكاديمية الحديثة (Bawden & Robinson, 2020). وقد أدى هذا التحول إلى زيادة غير مسبوقة في حجم المعلومات الرقمية الناتجة عن البحوث العلمية، ومشاريع التخرج، والدراسات الأكاديمية، مما أوجد تحديات جديدة تتعلق بكيفية حفظها، وتنظيمها، وضمان سهولة الوصول إليها (Zhang & Lee, 2021). وفي هذا الإطار، برزت المستودعات الرقمية الأكاديمية (Institutional Digital Repositories) كأحد الحلول المتقدمة لإدارة المعرفة داخل المؤسسات التعليمية والبحثية، إذ تُعد بيئة إلكترونية مخصصة لحفظ الإنتاج العلمي والبحثي وتوثيقه، بما في ذلك الرسائل الجامعية، والمقالات، ومشاريع التخرج، والتقارير البحثية (Lynch, 2003). وتهدف هذه المستودعات إلى تحقيق الوصول المفتوح للمعرفة، ودعم الشفافية العلمية، وزيادة تأثير الإنتاج البحثي عبر توفيره في صيغ رقمية منظمة وقابلة للاسترجاع بسهولة (Crow, 2002). يأتي مشروع تصميم و تطوير مستودع رقمي لأرشفة مشاريع التخرج والأوراق البحثية استجابةً لهذه الحاجة الأكاديمية المتنامية، إذ يسعى إلى إنشاء نظام مؤسسي متكامل داخل كلية تقنية المعلومات بجامعة المرقب يتيح حفظ وإدارة الإنتاج العلمي للطلبة والباحثين بصورة آمنة ومنظمة. يهدف المستودع إلى أرشفة مشاريع التخرج والبحوث العلمية إلكترونيًا، مع توفير آليات بحث واستعراض متقدمة، وتصنيف المحتوى بحسب التخصصات، والمؤلفين، والمشرفين، وسنة النشر. يُسهم هذا المستودع في تعزيز مبدأ الوصول المفتوح (Open Access) للمحتوى الأكاديمي، وتمكين الطلبة والباحثين من مشاركة إنتاجهم العلمي وتبادله بسهولة، مما ينعكس إيجابًا على جودة التعليم والبحث داخل الجامعة (Suber, 2012). كما يدعم التحول الرقمي في مؤسسات التعليم العالي الليبية من خلال تطوير بنية تقنية قائمة على تقنيات الويب الحديثة مثل ASP.NET، وقاعدة بيانات مركزية تضمن التكامل بين وحدات النظام وسرعة الوصول إلى البيانات. وبذلك يمثل المشروع خطوة استراتيجية نحو إنشاء بنية تحتية رقمية أكاديمية تواكب التطورات العالمية في مجال إدارة المعرفة، وتُسهم في حفظ التراث العلمي للطلبة والباحثين داخل جامعة المرقب، وضمان استدامة الوصول إليه للأجيال القادمة."
            }
          ]
        },
        "options": {}
      },
      "id": "67c244c4-792c-4980-b3f9-6a3ad0323310",
      "name": "Set Project Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -656,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={\"Authorization\": \"Bearer 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\", \"Content-Type\": \"application/json\"}"
      },
      "id": "d9103456-ef8a-4ce2-9427-e3ca9f4bd8dd",
      "name": "Classify Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -288,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistralai/mixtral-8x7b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a strict JSON generator. Extract keywords from the input text and output ONLY a JSON array of strings. Do not include explanations, labels, or formatting outside the JSON. Extract 8–12 non-generic keywords or key phrases that explicitly appear in the text. Preserve technical terms and proper nouns exactly. Avoid repetition.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.projectA }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        224
      ],
      "id": "ae6be383-2d50-4d38-b5cd-92fd05f6b103",
      "name": "Extract Keywords"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: $items(\"Set Project Text\")[0].json.projectA,\n\n      summary: $items(\"Summarize\")[0].json.choices[0].message.content,\n\n      keywords: $items(\"Extract Keywords\")[0].json.choices[0].message.content,\n\n      \n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        192
      ],
      "id": "03444f30-0208-4008-addb-eb5835a6c21d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"لخّص النص باللغة العربية الفصحى الحديثة في 40–60 كلمة فقط، في فقرة واحدة. ركّز حصريًا على الفكرة الأساسية والهدف وأهم نتيجة مذكورة. ممنوع إضافة أي معلومة أو استنتاج غير موجود في النص. حافظ على الأسماء والأرقام والتواريخ كما هي. اترك المصطلحات التقنية الإنجليزية كما هي دون ترجمة. أخرج الملخص فقط دون عناوين أو نقاط.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.projectA }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        0
      ],
      "id": "c75f6efc-0843-4372-be76-6d451afb22b0",
      "name": "Summarize"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Project Text": {
      "main": [
        [
          {
            "node": "Classify Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Project": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76da474e-874e-4f7b-8592-79923164634f",
  "meta": {
    "instanceId": "7bb77f80c089a46b719b100a3aaf9edd0259e585282b6a040479c22b29af3a6f"
  },
  "id": "24CGk3wtajrBFLBU",
  "tags": []
}